################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImitatorWorking№1/ImitatorWorking№1/TestingClass.cs
